a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp50dff902{ color:#000000; text-decoration: none} 
		a.wsp50dff902:visited{ color:#0000FF; text-decoration: none} 
		a.wsp50dff902:active{ color:#FF0000; text-decoration: none} 
		a.wsp50dff902:hover{ color:#0080C0; text-decoration: none} 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_23c309f5 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_23c309f5_padding { margin: 10px; display: block;  }
#container_7635e4ac { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_7635e4ac_padding { margin: 10px; display: block;  }
#youtube_5413056b { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:102%; height:200px; background-color:#D1D1D1; border: 1px solid #A0A0A0;  }
#container_18a8c6ca { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_18a8c6ca_padding { margin: 10px; display: block;  }
#youtube_5fdec02b { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:103%; height:200px; background-color:#D1D1D1; border: 1px solid #A0A0A0;  }
#container_8a90a61 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_8a90a61_padding { margin: 10px; display: block;  }
#youtube_5b5d7ea1 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:102%; height:200px; background-color:#D1D1D1; border: 1px solid #A0A0A0;  }
#container_2238b7f8 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_2238b7f8_padding { margin: 10px; display: block;  }
#container_1fc3bde7 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_1fc3bde7_padding { margin: 10px; display: block;  }
#youtube_60fd7768 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:102%; height:200px; background-color:#D1D1D1; border: 1px solid #A0A0A0;  }
#container_61bd2509 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_61bd2509_padding { margin: 10px; display: block;  }
#youtube_38d296dd { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:103%; height:200px; background-color:#D1D1D1; border: 1px solid #A0A0A0;  }
#container_2218d2b4 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_2218d2b4_padding { margin: 10px; display: block;  }
#youtube_4d2e226d { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:102%; height:200px; background-color:#D1D1D1; border: 1px solid #A0A0A0;  }
@media only screen and (max-width: 450px)
{
		#container_7635e4ac { width:100%;  }
		#container_18a8c6ca { width:100%;  }
		#container_8a90a61 { width:100%;  }
		#container_1fc3bde7 { width:100%;  }
		#container_61bd2509 { width:100%;  }
		#container_2218d2b4 { width:100%;  }
}
