a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_33e818a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:131px; background:none;  }
#container_33e818a_padding { margin: 10px; display: block;  }
#container_2b8a8e57 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:124px; background:none;  }
#container_2b8a8e57_padding { margin: 10px; display: block;  }
#img_6771e4d8 { vertical-align: bottom; position:relative; display: inline-block; width:102%; background:none;  }
#container_7b66f638 { vertical-align: top; position:relative; display: inline-block; width:69%; min-height:151px; background:none;  }
#container_7b66f638_padding { margin: 10px; display: block;  }
.textstyle2 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
@media only screen and (max-width: 300px)
{
		#container_2b8a8e57 { width:100%;  }
		#container_7b66f638 { width:100%;  }
}
