a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp52fa8e25{ color:#0F8F0E; text-decoration: none} 
		a.wsp52fa8e25:visited{ color:#FF0000; text-decoration: underline} 
		a.wsp52fa8e25:active{ color:#FF0000; text-decoration: underline} 
		a.wsp52fa8e25:hover{ color:#5E5A5F; text-decoration: underline} 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_12dc9f48 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_12dc9f48_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_355ab16c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:52px; background:none;  }
#container_355ab16c_padding { margin: 10px; display: block;  }
#container_4072b823 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:58px; background:none;  }
#container_4072b823_padding { margin: 10px; display: block;  }
#container_45c793e9 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:52px; background:none;  }
#container_45c793e9_padding { margin: 10px; display: block;  }
#container_55665f04 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:54px; background:none;  }
#container_55665f04_padding { margin: 10px; display: block;  }
