a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp50dff902{ color:#000000; text-decoration: none} 
		a.wsp50dff902:visited{ color:#0000FF; text-decoration: none} 
		a.wsp50dff902:active{ color:#FF0000; text-decoration: none} 
		a.wsp50dff902:hover{ color:#0080C0; text-decoration: none} 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_759e08a { vertical-align: top; position:relative; display: inline-block; width:96%; min-height:68px; background:none;  }
#container_759e08a_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:left; }
.textstyle3 { font-size:16pt; font-family:Georgia, serif; color:#000000; font-weight:bold;  }
#container_6ec4f2a { vertical-align: top; position:relative; display: inline-block; width:96%; min-height:150px; background:none;  }
#container_6ec4f2a_padding { margin: 10px; display: block;  }
.textstyle4 { font-size:12pt; font-family:Georgia, serif; color:#000000;  }
