a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp52fa8e25{ color:#0F8F0E; text-decoration: none} 
		a.wsp52fa8e25:visited{ color:#FF0000; text-decoration: underline} 
		a.wsp52fa8e25:active{ color:#FF0000; text-decoration: underline} 
		a.wsp52fa8e25:hover{ color:#5E5A5F; text-decoration: underline} 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
.textstyle2 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
.textstyle3 { text-align:center; }
