a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#button_289b6f13 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:338px; height:40px; background-color:#130043;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle2 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle3 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#img_23932c22 { vertical-align: bottom; position:relative; display: inline-block; width:99%; background:none;  }
#img_30ba40bc { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none;  }
#button_7fa21dec { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:327px; height:40px; background-color:#130043;  }
.textstyle4 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
