a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp52fa8e25{ color:#0F8F0E; text-decoration: none} 
		a.wsp52fa8e25:visited{ color:#FF0000; text-decoration: underline} 
		a.wsp52fa8e25:active{ color:#FF0000; text-decoration: underline} 
		a.wsp52fa8e25:hover{ color:#5E5A5F; text-decoration: underline} 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#img_19edd504 { vertical-align: bottom; position:relative; display: inline-block; width:98%; background:none;  }
.textstyle2 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#img_4789644e { vertical-align: bottom; position:relative; display: inline-block; width:98%; background:none;  }
#img_3ae69361 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none;  }
#img_2c2aa590 { vertical-align: bottom; position:relative; display: inline-block; width:99%; background:none;  }
#img_2cc87846 { vertical-align: bottom; position:relative; display: inline-block; width:97%; background:none;  }
#img_721fbbe0 { vertical-align: bottom; position:relative; display: inline-block; width:99%; background:none;  }
#img_24539a3a { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none;  }
