a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
.textstyle2 { font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#img_3af796a8 { vertical-align: bottom; position:relative; display: inline-block; width:99%; background:none;  }
#img_63851a2 { vertical-align: bottom; position:relative; display: inline-block; width:98%; background:none;  }
#img_30174d59 { vertical-align: bottom; position:relative; display: inline-block; width:98%; background:none;  }
#img_382cbccc { vertical-align: bottom; position:relative; display: inline-block; width:98%; background:none;  }
#img_276db422 { vertical-align: bottom; position:relative; display: inline-block; width:98%; background:none;  }
#img_49ec4bae { vertical-align: bottom; position:relative; display: inline-block; width:98%; background:none;  }
#img_4c46cf44 { vertical-align: bottom; position:relative; display: inline-block; width:98%; background:none;  }
#img_67c5a5c8 { vertical-align: bottom; position:relative; display: inline-block; width:98%; background:none;  }
#img_f645165 { vertical-align: bottom; position:relative; display: inline-block; width:98%; background:none;  }
#img_15ec8179 { vertical-align: bottom; position:relative; display: inline-block; width:98%; background:none;  }
#img_5d6e8fc5 { vertical-align: bottom; position:relative; display: inline-block; width:98%; background:none;  }
#img_4a8d779a { vertical-align: bottom; position:relative; display: inline-block; width:98%; background:none;  }
#img_5f0116bc { vertical-align: bottom; position:relative; display: inline-block; width:98%; background:none;  }
#img_3984735a { vertical-align: bottom; position:relative; display: inline-block; width:98%; background:none;  }
