a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#img_11540ca1 { vertical-align: bottom; position:relative; display: inline-block; width:99%; background:none;  }
.textstyle2 { text-align:left; }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#img_956f2ba { vertical-align: bottom; position:relative; display: inline-block; width:99%; background:none;  }
#img_62259c78 { vertical-align: bottom; position:relative; display: inline-block; width:99%; background:none;  }
#img_12e144f2 { vertical-align: bottom; position:relative; display: inline-block; width:99%; background:none;  }
#img_7a480fa8 { vertical-align: bottom; position:relative; display: inline-block; width:99%; background:none;  }
#img_721fbbe0 { vertical-align: bottom; position:relative; display: inline-block; width:99%; background:none;  }
#img_24539a3a { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none;  }
