a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp50dff902{ color:#000000; text-decoration: none} 
		a.wsp50dff902:visited{ color:#0000FF; text-decoration: none} 
		a.wsp50dff902:active{ color:#FF0000; text-decoration: none} 
		a.wsp50dff902:hover{ color:#0080C0; text-decoration: none} 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
.textstyle2 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
#button_744bd6fd { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:316px; height:40px; background-color:#C00000;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle4 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
